<h2>Show ppmp</h2>

<ul>

  <li>
    <strong>Code:</strong>
    <%= @ppmp.code %>
  </li>

  <li>
    <strong>Status:</strong>
    <%= @ppmp.status %>
  </li>

  <li>
    <strong>Year:</strong>
    <%= @ppmp.year %>
  </li>

</ul>

<%= link "Edit", to: ppmp_path(@conn, :edit, @ppmp) %>
<%= link "Back", to: ppmp_path(@conn, :index) %>
